<div class="row">
  <div class="col-md-6 ml-auto mr-auto">
    <div class="profile">
      <div class="name">
        <h3 class="title">Hamza Marouani</h3>
        <h6>Full stack web developer</h6>
        <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="description text-center">
  <p>
    I have more than 10 years experience in Angular and Java web developement, i
    worked with many well known banks in big data projects.
  </p>
  <p>See some of my personal work here:</p>
</div>
