<div class="card">
  <img class="card-img" src="assets/img/desk.jpg" rel="nofollow" />
  <div class="card-img-overlay">
    <div class="section section-contacts">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="text-center title">Contact me</h2>
          <h4 class="text-center title">
            Via LinkedIn
            <a
              class="nav-link"
              rel="tooltip"
              title=""
              data-placement="bottom"
              href="https://www.linkedin.com/in/hamza-marouani-52589a24/"
              target="_blank"
              data-original-title="Follow me on LinkedIn"
            >
              <i class="fa fa-linkedin"></i>
            </a>
          </h4>
          <h4 class="text-center title">Or by email via this form:</h4>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Your Name"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Your Email"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea
                type="email"
                class="form-control"
                rows="4"
                id="messageInput"
                placeholder="Your Message"
              ></textarea>
            </div>
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto text-center">
                <button class="btn btn-primary btn-raised">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
