<div
  class="page-header min-vh-100 header-filter"
  style="background-image: url('assets/img/city-profile.jpg')"
  loading="lazy"
>
  <span class="mask bg-gradient-dark opacity-5"></span>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
        <br />
        <div class="avatar avatar-sm rounded-circle">
          <img
            src="assets/img/me.jpg"
            alt="Circle Image"
            class="img-raised rounded-circle img-fluid"
          />
        </div>
        <h1 class="text-white mb-4">Hamza Marouani</h1>
        <p class="text-white opacity-8 lead pe-5 me-5">
          “The universe is change, life is opinion.”-Marcus Aurelius
        </p>
      </div>
    </div>
  </div>
</div>
