<div class="tab-pane text-center gallery" id="favorite">
    <div class="row">
      <div class="col-md-3 ml-auto">
        <img
          src="material-kit-assets/img/examples/mariya-georgieva.jpg"
          class="rounded"
        />
        <img
          src="material-kit-assets/img/examples/studio-3.jpg"
          class="rounded"
        />
      </div>
      <div class="col-md-3 mr-auto">
        <img
          src="material-kit-assets/img/examples/clem-onojeghuo.jpg"
          class="rounded"
        />
        <img
          src="material-kit-assets/img/examples/olu-eletu.jpg"
          class="rounded"
        />
        <img
          src="material-kit-assets/img/examples/studio-1.jpg"
          class="rounded"
        />
      </div>
    </div>
  </div>
